<div id="container">

  <% every_other_item(@inputs).each do |input| %>
    <span class="colors"><%= input.content %></span>
  <% end %>

  <div class="content">
    <% get_other_items(@selected) %>
    <% @outsiders.each do |input| %>
      <span class="colors2"><%= input.content %></span>
    <% end %>
  </div>

  <span id="circle"></span><span id="second-circle"></span><span id="triangle"></span>

  <div id="cloud"></div>

  <div id="pink-cloud"></div>

  <div class="animated">
    <%= image_tag "howcrude.gif", class: "gif" %><%= image_tag "boom.gif" %>
  </div>


  <div id="input-area">
    <h1>softweb <small>tell the softweb soft things</small></h1>

    <p><span class="pink">Tell me soft things.</span> <span class="blue">The soft make me ache</span>. <span class="gray">Take me away, away, and</span> <span class="purple">lay me down into softness.</span></p>

      <!-- <p><span class="pink">softhint: Words like "soft" are triggers for me</span></p> -->

    <%= form_for(@input, html: { class: "soft-form" }) do |f| %>
      <%= f.text_area :content, placeholder: "write words that trigger your softness" %><br>
      <%= f.submit "send me your softness", class: "button" %>
    <% end %>
  </div>
</div>
